﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html>

       

<script runat="server">

    protected void Button1_Click(object sender, EventArgs e)
    {
        Response.Redirect("EditCurrencies.aspx");

    }

    protected void Button2_Click(object sender, EventArgs e)
    {
        Session["Login"] = null;
        Response.Redirect("Login.aspx");
    }

    protected void Button3_Click(object sender, EventArgs e)
    {
        Response.Redirect("EditUser.aspx");
    }

    protected void Button4_Click(object sender, EventArgs e)
    {
        Session["Login"] = null;
        Response.Redirect("Login.aspx");
    }

    protected void Button10_Click(object sender, EventArgs e)
    {
      
    }
</script>

<%

    if (Session["Login"] == null)
    {
        Response.Redirect("Login.aspx");
    }
     %>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <link href="style.css" rel="stylesheet" />
 
    <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>

            <script type="text/javascript">
                // Popup window code
                function newPopup(url) {
                    popupWindow = window.open(
                        url, 'popUpWindow', 'height=800,width=1024,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
                }
</script>


    <style type="text/css">
        .auto-style1 {
            width: 38px;
        }
    </style>


</head>
<body>
    <form id="form1" runat="server">
    <div>
            <table  style="width:800px;
	  margin-left: auto ;
  margin-right: auto ;
	text-align:left; 
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;">
                <tr>
                    <td class="auto-style1"></td>
                    <td></td>
                    <td class="auto-style1"></td>
                </tr>
                <tr>
                    <td style="text-align:center">
                        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Currency Editor" Height="35px" Width="200px" BackColor="#99CCFF" BorderStyle="Solid" BorderWidth="1px" Font-Bold="True" Font-Size="Large" />
                    </td>
                    <td style="text-align:center">
                        <asp:Button ID="Button3" runat="server" Height="35px" OnClick="Button3_Click" Text="User Editor" Width="200px" BackColor="#FF9999" BorderStyle="Solid" BorderWidth="1px" Font-Bold="True" Font-Size="Large" />
                    </td>
                    <td style="text-align:center">
                        <asp:Button ID="Button4" runat="server" OnClick="Button2_Click" Text="Logout" Height="35px" Width="200px" BackColor="#99FF99" BorderStyle="Solid" BorderWidth="1px" Font-Bold="True" Font-Size="Large" />
                    </td>
                </tr>
               <%-- </table>--%>
   
       <%-- <table  style="width:80%;
	  margin-left: auto ;
  margin-right: auto ;
	text-align:left; 
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;">--%>
                <tr>
                  <td style="text-align:center">
                        &nbsp;</td>
                </tr>
            <tr>
             
                <td colspan="3">
           <asp:ContentPlaceHolder ID="MainContent" runat="server">
        </asp:ContentPlaceHolder>
                </td>
            
            </tr>

        </table>
         </div>
    </form>
</body>
</html>
