﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Admin/adminMaster.Master" CodeBehind="EditUser.aspx.cs" Inherits="TreasureGameWeb.Admin.EditUser" %>


  <asp:content id="Content1" ContentPlaceHolderID="MainContent" runat="server">


    <div>
    
        <table style="width:100%;">
            <tr>
                <td class="auto-style1" style="width: 101px">&nbsp;</td>
                <td class="auto-style2" style="width: 179px">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style1" style="width: 101px">
                    <asp:Label ID="Label1" runat="server" Text="Search User:"></asp:Label>
                </td>
                <td class="auto-style2" style="width: 179px">
                    <asp:TextBox ID="SearchTB" runat="server"></asp:TextBox>
                </td>
                <td>
                    <asp:Button ID="Search" runat="server" OnClick="Search_Click" Text="Search" />
                </td>
            </tr>

            <tr>
                <td class="auto-style1" style="width: 101px">
                    &nbsp;</td>
                <td class="auto-style2" style="width: 179px">
                    &nbsp;</td>
                <td>
                    &nbsp;</td>
            </tr>

            <tr>
                <td class="auto-style1" style="width: 101px">
                    <asp:Label ID="Label2" runat="server" Text="User:"></asp:Label>
                </td>
                <td class="auto-style2" style="width: 179px">
                    <asp:Label ID="userlabel" runat="server"></asp:Label>
                </td>
                <td>
                    &nbsp;</td>
            </tr>

            <tr>
                <td class="auto-style1" style="width: 101px">
                    <asp:Label ID="clabel_1" runat="server" Text=""></asp:Label>
                </td>
                <td class="auto-style2" style="width: 179px">
                    <asp:TextBox ID="cTextBox_1" runat="server"></asp:TextBox>
                </td>
                <td></td>
            </tr>
                        <tr>
                <td class="auto-style1" style="width: 101px">
                    <asp:Label ID="clabel_2" runat="server" Text=""></asp:Label>
                </td>
                <td class="auto-style2" style="width: 179px">
                    <asp:TextBox ID="cTextBox_2" runat="server"></asp:TextBox>
                </td>
                <td></td>
            </tr>
                        <tr>
                <td class="auto-style1" style="width: 101px">
                    <asp:Label ID="clabel_3" runat="server" Text=""></asp:Label>
                </td>
                <td class="auto-style2" style="width: 179px">
                    <asp:TextBox ID="cTextBox_3" runat="server"></asp:TextBox>
                </td>
                <td></td>
            </tr>
                        <tr>
                <td class="auto-style1" style="width: 101px">
                    <asp:Label ID="clabel_4" runat="server" Text=""></asp:Label>
                </td>
                <td class="auto-style2" style="width: 179px">
                    <asp:TextBox ID="cTextBox_4" runat="server"></asp:TextBox>
                </td>
                <td></td>
            </tr>
                        <tr>
                <td class="auto-style1" style="width: 101px">
                    <asp:Label ID="clabel_5" runat="server" Text=""></asp:Label>
                </td>
                <td class="auto-style2" style="width: 179px">
                    <asp:TextBox ID="cTextBox_5" runat="server"></asp:TextBox>
                </td>
                <td></td>
            </tr>
                        <tr>
                <td class="auto-style1" style="width: 101px">
                    <asp:Label ID="clabel_6" runat="server" Text=""></asp:Label>
                </td>
                <td class="auto-style2" style="width: 179px">
                    <asp:TextBox ID="cTextBox_6" runat="server"></asp:TextBox>
                </td>
                <td></td>
            </tr>
                        <tr>
                <td class="auto-style1" style="width: 101px">
                    <asp:Label ID="clabel_7" runat="server" Text=""></asp:Label>
                </td>
                <td class="auto-style2" style="width: 179px">
                    <asp:TextBox ID="cTextBox_7" runat="server"></asp:TextBox>
                </td>
                <td></td>
            </tr>
                        <tr>
                <td class="auto-style1" style="width: 101px">
                    <asp:Label ID="clabel_8" runat="server" Text=""></asp:Label>
                </td>
                <td class="auto-style2" style="width: 179px">
                    <asp:TextBox ID="cTextBox_8" runat="server"></asp:TextBox>
                </td>
                <td></td>
            </tr>
                        <tr>
                <td class="auto-style1" style="width: 101px">
                    <asp:Label ID="clabel_9" runat="server" Text=""></asp:Label>
                </td>
                <td class="auto-style2" style="width: 179px">
                    <asp:TextBox ID="cTextBox_9" runat="server"></asp:TextBox>
                </td>
                <td></td>
            </tr>
                        <tr>
                <td class="auto-style1" style="width: 101px">
                    <asp:Label ID="clabel_10" runat="server" Text=""></asp:Label>
                </td>
                <td class="auto-style2" style="width: 179px">
                    <asp:TextBox ID="cTextBox_10" runat="server"></asp:TextBox>
                </td>
                <td></td>
            </tr>
                        <tr>
                <td class="auto-style1" style="width: 101px">
                    <asp:Label ID="clabel_11" runat="server" Text=""></asp:Label>
                </td>
                <td class="auto-style2" style="width: 179px">
                    <asp:TextBox ID="cTextBox_11" runat="server"></asp:TextBox>
                </td>
                <td></td>
            </tr>
                        <tr>
                <td class="auto-style1" style="width: 101px">
                    <asp:Label ID="clabel_12" runat="server" Text=""></asp:Label>
                </td>
                <td class="auto-style2" style="width: 179px">
                    <asp:TextBox ID="cTextBox_12" runat="server"></asp:TextBox>
                </td>
                <td></td>
            </tr>
                        <tr>
                <td class="auto-style1" style="width: 101px">
                    <asp:Label ID="clabel_13" runat="server" Text=""></asp:Label>
                </td>
                <td class="auto-style2" style="width: 179px">
                    <asp:TextBox ID="cTextBox_13" runat="server"></asp:TextBox>
                </td>
                <td></td>
            </tr>
                        <tr>
                <td class="auto-style1" style="width: 101px">
                    <asp:Label ID="clabel_14" runat="server" Text=""></asp:Label>
                </td>
                <td class="auto-style2" style="width: 179px">
                    <asp:TextBox ID="cTextBox_14" runat="server"></asp:TextBox>
                </td>
                <td></td>
            </tr>
                        <tr>
                <td class="auto-style1" style="width: 101px">
                    <asp:Label ID="clabel_15" runat="server" Text=""></asp:Label>
                </td>
                <td class="auto-style2" style="width: 179px">
                    <asp:TextBox ID="cTextBox_15" runat="server"></asp:TextBox>
                </td>
                <td>
                    &nbsp;</td>
            </tr>

                        <tr>
                <td class="auto-style1" style="width: 101px">
                    &nbsp;</td>
                <td class="auto-style2" style="width: 179px">
                    &nbsp;</td>
                <td>
                    <asp:Button ID="Button1" runat="server" Text="Save" OnClick="Button1_Click" />
                            </td>
            </tr>

        </table>

    
    </div>
   </asp:content>

