﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage" %>

<!DOCTYPE html>
<script runat="server">

    protected void Button1_Click(object sender, EventArgs e)
    {
        if (this.TextBox1.Text == "CREEL" && this.TextBox2.Text == "Kd61m2")
        {
            Session["Login"] = "OK";
            Response.Redirect("Main.aspx");
        }
        else
        {
          //  Session["Login"] = "OK";
          //  Response.Redirect("Main.aspx");
            //Response.Redirect("Login.aspx");
        }
    }

    protected void Page_Load(object sender, EventArgs e)
    {

    }
</script>


<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 465px;
        }
        .auto-style4 {
            width: 130px;
        }
        .auto-style5 {
            width: 157px;
            height: 173px;
        }
        .auto-style6 {
            width: 70px;
        }
        .auto-style7 {
            width: 70px;
            height: 177px;
        }
        .auto-style8 {
            width: 465px;
            height: 177px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
                   <table  style="width: 400px;
	  margin-left: auto ;
  margin-right: auto ;
  margin-top : auto;
  margin-bottom : auto;
	text-align:left; 
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;">
            <tr>
                <td colspan="2" class="auto-style7">
                    <img alt="" class="auto-style5" src="images/logo.png" /></td>
                <td class="auto-style8"><h1 style="width: 330px">Creel Admin Tool</h1>
                    <p style="width: 330px">PRODUCTION SERVER</p></td>
            </tr>
            <tr>
                <td class="auto-style6">Username</td>
                <td class="auto-style4"><asp:TextBox ID="TextBox1" runat="server" Width="120px"></asp:TextBox>
                </td>
                <td class="auto-style1">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style6">Password</td>
                <td class="auto-style4"><asp:TextBox ID="TextBox2" runat="server" TextMode="Password" Width="120px"></asp:TextBox>
                </td>
                <td class="auto-style1">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style6" colspan="2">&nbsp;</td>
                <td class="auto-style4">
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Login" Width="170px" Height="40px" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
