﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Admin/adminMaster.Master" CodeBehind="Main.aspx.cs" Inherits="TreasureGameWeb.Admin.Main" %>

<asp:content id="Content1" ContentPlaceHolderID="MainContent" runat="server">

</asp:content>
